@import url("bootstrap-icons.css");

:root {
    --lw: 10vw;
}
html {
    font-size: min(4vw, 30px);
}
* {
    transition: all .3s ease-out;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 900;
    background-color: beige;
}

#menu {
    align-self: center;
    width: auto;
}
#letters_div {
    align-self: center;
    font-size: calc(var(--lw)/2);
    margin-top: 10vh;
    
}
#letters_div {
    display: flex;
}

.letter {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: var(--lw);
    height: var(--lw);
    margin: 1vw;
    border: 0.5vmin dashed black;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10%;
}

.selected {
    background-color: hsl(140 100% 40%);
    border: 0;
}

.past-selected {
    background-color: hsl(140 50% 40%);
    border: 0;
}

.hidden {
    opacity: 0;
}

.winner {
    background-color: goldenrod;
    transition: all 0.5s cubic-bezier(0.5, -0.5, 0.5, 2);
    border: 0;
    box-shadow: 0px 0px calc(var(--lw)/5) 0px gold;
    border-radius: 20%;
}

.effect  {
    background-color: gray;
    transition: all 0.1s cubic-bezier(0.5, -0.5, 0.5, 2);
}

#stats {
    font-size: min(2.5vmax, 20px);
    font-weight: 400;
    position:fixed;
    bottom: 1.5vmax;
    left: 1.5vmax;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2vmin;
    grid-row-gap: 0.2vmin;
}

#seed {
    font-weight: 400;
    font-size: 2vmax;
    position:fixed;
    bottom: 1.5vmax;
    right: 1.5vmax;
    cursor: pointer;
    color:dodgerblue;
}
#share-url {
    position: absolute;
    top: -1000px;
}
